* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* Variables */
/* End of Variables */
p, li {
  font-family: "Muli", sans-serif; }

/* Home */
.home {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px; }
  .home .container {
    display: grid;
    grid-template-columns: 100px auto;
    width: 80%;
    margin: auto;
    padding: 20px 0px; }
    .home .container ul {
      list-style-type: none; }
      .home .container ul li a {
        color: white;
        text-decoration: none; }
    @media (max-width: 768px) {
      .home .container .item1 {
        grid-area: 1 / 1 / 2 / 3; } }
    .home .container .item1 li {
      font-family: "Courgette", cursive;
      font-size: 40px;
      font-weight: bolder; }
      @media (max-width: 768px) {
        .home .container .item1 li {
          text-align: center; } }
    .home .container .item2 {
      text-align: right;
      padding: 20px 0px; }
      @media (max-width: 768px) {
        .home .container .item2 {
          grid-area: 2 / 1 / 3 / 3;
          text-align: center; } }
      .home .container .item2 li {
        padding: 0 20px;
        display: inline-block;
        font-size: 14px; }
        @media (max-width: 768px) {
          .home .container .item2 li {
            padding: 0 10px; } }
  .home .heading {
    text-align: center;
    color: white;
    position: relative;
    top: 150px;
    line-height: 1.5;
    width: 80%;
    margin: auto; }
    @media (max-width: 768px) {
      .home .heading {
        top: 100px; } }
    @media (max-width: 480px) {
      .home .heading {
        top: 80px; } }
    .home .heading h3 {
      font-family: "Muli", sans-serif;
      font-size: 30px;
      letter-spacing: 3px; }
      @media (max-width: 768px) {
        .home .heading h3 {
          font-size: 25px; } }
    .home .heading h1 {
      font-family: "Courgette", cursive;
      font-size: 90px; }
      @media (max-width: 768px) {
        .home .heading h1 {
          line-height: 1.2;
          font-size: 70px;
          margin-top: 25px; } }
      @media (max-width: 480px) {
        .home .heading h1 {
          font-size: 60px;
          margin-top: 30px; } }
    .home .heading a {
      color: white;
      font-size: 35px;
      position: relative;
      transition: 0.5s;
      top: 0; }
      .home .heading a i {
        margin-top: 170px; }
        @media (max-width: 480px) {
          .home .heading a i {
            margin-top: 130px; } }
      @media (max-width: 480px) {
        .home .heading a {
          font-size: 30px; } }
    .home .heading a:hover {
      color: gray;
      top: 20px; }

/* End of Home */
/* Information */
.informations .container {
  display: grid;
  grid-template-columns: 50% 50%; }
  .informations .container div {
    height: 333px; }
    @media (max-width: 768px) {
      .informations .container div {
        height: 400px; } }
    @media (max-width: 480px) {
      .informations .container div {
        height: 350px; } }
  .informations .container .item1 {
    background-image: url(../images/background.jpg);
    background-size: cover; }
    @media (max-width: 480px) {
      .informations .container .item1 {
        grid-area: 1 / 1 / 2 / 3; } }
  .informations .container .item2 {
    background-color: #696969;
    text-align: center; }
    @media (max-width: 480px) {
      .informations .container .item2 {
        grid-area: 2 / 1 / 3 / 3; } }
    .informations .container .item2 .item2-container {
      width: 80%;
      margin: auto; }
      .informations .container .item2 .item2-container h1 {
        font-family: "Courgette", cursive;
        font-weight: bolder;
        color: white;
        font-size: 38px;
        margin-top: 50px; }
      .informations .container .item2 .item2-container p {
        margin-top: 20px;
        color: white; }
      .informations .container .item2 .item2-container a {
        font-family: "Muli", sans-serif;
        font-weight: bolder;
        color: white;
        border: 3px solid white;
        padding: 15px;
        text-decoration: none;
        position: relative;
        top: 40px; }
  .informations .container .item3 {
    text-align: center;
    background-color: #e5e5e5; }
    @media (max-width: 480px) {
      .informations .container .item3 {
        grid-area: 4 / 1 / 5 / 3; } }
    .informations .container .item3 .item3-container {
      width: 80%;
      margin: auto; }
      .informations .container .item3 .item3-container h1 {
        font-family: "Courgette", cursive;
        font-weight: bolder;
        color: black;
        font-size: 38px;
        margin-top: 50px; }
      .informations .container .item3 .item3-container p {
        margin-top: 20px;
        color: black; }
      .informations .container .item3 .item3-container a {
        font-family: "Muli", sans-serif;
        font-weight: bolder;
        color: black;
        border: 3px solid black;
        padding: 15px;
        text-decoration: none;
        position: relative;
        top: 40px; }
  .informations .container .item4 {
    background-image: url(../images/background.jpg);
    background-size: cover; }
    @media (max-width: 480px) {
      .informations .container .item4 {
        grid-area: 3 / 1 / 4 / 3; } }

/* End of Information */
/* Menu */
.menu {
  padding: 80px 0px; }
  .menu h1 {
    font-family: "Courgette", cursive;
    text-align: center;
    font-size: 38px; }
  .menu .container {
    display: grid;
    grid-template-columns: 20% 20% 20%;
    justify-content: space-evenly;
    grid-gap: 100px 0px;
    text-align: center;
    margin-top: 80px; }
    .menu .container div {
      background-color: #e5e5e5; }
      .menu .container div img {
        width: 169px;
        height: 280px; }

/* End of Menu */

/*# sourceMappingURL=mysytyle.css.map */
