/* Variable */
$body-font:'Montserrat', sans-serif;
$heading-font:'Bowlby One SC', cursive;
$navbar-font:'Aclonica', sans-serif;
$title-font:'Fredericka the Great', cursive;

$primary-color:#428bca;

$large-screen: 1200px;
$ipad-pro: 1024px;
$desktop: 992px;
$tablet: 768px;
$phone: 480px;
$iphone-retina: 320px;
/* End of Variables */

.btn{
	font-family: $body-font;
}
.custom-btn{
    width: 150px;
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 2px solid $primary-color;
    color: $primary-color;
    font-weight: bold;
    font-size: 16px;
    &:hover,
    &:focus{
    	background-color: $primary-color;
    	color:white;
    	transition:1s;
    }
}
.icons{
    font-size: 10px;
    letter-spacing: 3px;
    margin-top: 30px;
}
#chefhat{
	width: 110px;
	height: 115px;
}
/* Home */
.home{
	background:{
		image:url("../images/background.jpg");
		size:cover;
		repeat:no-repeat;
	}
	height: auto;
	padding-bottom: 155px;
	.navbar-custom {
		background-color:transparent;
		color:white;
		padding: 40px 0px;
		font:{
		   	family:$navbar-font;
		    size:18px;
		}
		@media (max-width: $tablet){
			font-size: 14px;
		}
		#logo{
		    width: 230px;
	        height: 93px;
	        position: relative;
	        top: -25px;
	        @media (max-width: $tablet){
	        	width: 160px;
            	height: 63px;
	        }
		}
		.navbar-toggle{
		   	background-color: $primary-color;
		}
		.icon-bar{
		    background-color: white;
		}
		.navbar-nav{
		    li a{
		    	color: white;
		    }
		    .active a{
		    	color: white;
		    	background-color: transparent;
		    }
		    li a:hover,
		    li a:focus,
		    .active a:hover,
		    .active a:focus,
		    .open a{
		    	color: gray;
		    	background-color: transparent;
		    	text-decoration: none;
		    }
		}
	}
	h1{
		font-family: $heading-font;
		color: white;
		font-size: 80px;
		margin-top: 110px;
		@media (max-width: $iphone-retina){
			font-size: 60px;
		}
	}
	#arrow-down{
		border-radius: 50px;
		height: 50px;
		width: 50px;
		font-size: 30px;
		position: relative;
		top: 180px;
	}
}
/* End of Home */

/* About Us */
.about{
	height: auto;
	padding-bottom: 100px;
	padding-top: 120px;
	.about-content{
		position: relative;
		top: -60px;
		@media (max-width: $ipad-pro){
			position: relative;
			top: -70px;
		}
	}
	#logohat{
        width: 180px;
        height: 150px;
        position: relative;
       	top: 50px;
       	left: 30px;
       	@media (max-width: $ipad-pro){
       		width: 150px;
       		height: 145px;
       		left: 10px;
       	}
       	@media (max-width: $tablet) and (min-width: $phone){
       		left: 180px;
       	}
       	@media (max-width: $iphone-retina){
       		width: 120px;
       		height: 115px;
       		left: -15px
       	}
    }
    h2{
    	font-family: $title-font;
    }
    h4{
    	font-family: $body-font;
    	color: $primary-color;
    }
    p{
    	margin-top: 30px;
    	font-family: $body-font;
    	line-height: 1.5;
    	font-size: 16px;
    }
    .about-img{
    	@media (max-width: $ipad-pro){
    		position: relative;
    		top: 40px;
    	}
    	@media (max-width: $tablet){
    		top: 0px;
    	}
    }
    .about-img img{
    	width: 250px;
    	height: 226px;
    	@media (max-width: $ipad-pro){
    		width: 200px;
    		height: 176px;
    	}
    	@media (max-width: $tablet){
    		margin: 5px;
    		width: 165px;
    		height: 146px;
    	}
    }
    .img-thumbnail{
	    padding:15px;
	    margin: 10px;
    }
}
/* End of About Us */

/* Best Seller */
.best-seller{
	height: auto;
	padding-top: 80px;
	padding-bottom: 100px;
	color: white;
	font-family: $title-font;
	background: {
		image:url("../images/menubackground.JPG");
		size:cover;
		repeat:no-repeat;
	}
	h1{
		font-size: 50px;
		position: relative;
		top: -30px;
		margin-bottom: 50px;
	}
	#spoonandfork{
		width: 40px;
		height: 41px;
		position: relative;
		top: 15px;
	}
	.row{
		margin-top: 40px;
	}
}
/* End of Best Seller */

/* Menu */
.menu{
	height: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	.menu-img{
		position: relative;
		top: 20px;
	}
	.menu-img img{
		height: 450px;
		width: 220px;
	}
	.img-thumbnail{
	    padding:15px;
	    margin: 10px;
    }
    .menu-content{
    	position: relative;
    	top: -10px;
    }
    #chefhat{
    	position: relative;
    	bottom: -20px;
    }
    h2{
    	font-family: $title-font;
    	letter-spacing: 1.75px;
    }
    h4{
    	color: $primary-color;
    }
    p{
    	margin-top: 30px;
    	font-family: $body-font;
    	line-height: 1.5;
    	font-size: 16px;
    }
}
/* End of Menu */

/* Delivery */
.delivery{
	padding-bottom: 130px;
	height: auto;
	.delivery-content{
		position: relative;
		top: -10px;
		.modal{
			.modal-header{
				background-color:   rgb(18, 18, 18);
				color: white;
			}
			.modal-footer{
				background-color:   rgb(18, 18, 18);
				color: white;
				button{
					width: 300px;
				}
			}
			h2{
				font-family: $heading-font;
			}
			h3{
				font-family: $navbar-font;
			}
			.charge{
				margin-top: 50px;
				p{
					
				}
			}
		}
	}
	#chefhat{
    	position: relative;
    	bottom: -20px;
    }
    h2{
    	font-family: $title-font;
    	letter-spacing: 1.75px;
    }
    h4{
    	color: $primary-color;
    }
    p{
    	margin-top: 30px;
    	font-family: $body-font;
    	line-height: 1.5;
    	font-size: 16px;
    }
    .delivery-img{
    	position: relative;
    	top: 20px;
    }
    .delivery-img img{
    	height: 450px;
    	width: 220px;
    }
    .img-thumbnail{
	    padding:15px;
	    margin: 10px;
    }
}
/* End of Delivery */

/* Testimonials */
.testimonials{
	height: auto;
	padding-bottom: 80px;
	.top-heading{
		height: 400px;
		padding-top: 50px;
		background: {
		image:url("../images/menubackground.JPG");
		size:cover;
		repeat:no-repeat;
		}
		h1{
			font-family: $title-font;
			color: white;
			font-size: 50px;
			position: relative;
			top: -30px;
		}
	}
	.img-container{
		position: relative;
		top: -70px;
		#customer-img{
		width: 150px;
		height: 150px;
		border-radius: 100px;
		}
		h5{
		margin-top: 30px;
		width: 300px;
		font-family: $body-font;
		font-style: italic;
		line-height: 1.5;
		}
		h3{
			font-family: $body-font;
		}
	}
}
/* End of Testimonials */

/* Announcement */
.announcement{
	background-color: #222222;
	height: auto;
	padding-top: 70px;
	padding-bottom: 80px;
	.content{
		width: 80%;
		h1{
			font-family: $title-font;
			color: white;
			font-size: 50px;
			letter-spacing: 2px;
			line-height: 1.25;
		}
		a{
			margin-top: 30px;
		}
	}
}
/* End of Announcement */

/* Location */
.location{
	.marker{
		background-image: url("../images/markerbackground.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		top: -400px;
		border: 8px solid $primary-color;
		color: white;
		height:auto;
		padding:30px 30px 0px 30px;
		h5{
			font-family: $body-font;
			color: gray;
		}
		h4{
			font-family: $title-font;
			letter-spacing: 1.7px;
		}
		.inquiries{
			margin-top: 40px;
		}

	}
	.marker-logo{
		background-color: $primary-color;
		text-align: center;
		border-radius: 100px;
		width: 50px;
		height: 50px;
		position: relative;
		top: 30px;
		i{
			font-size: 30px;
			padding: 10px 2px 0 0;
		}
	}
}
/* End of Location */

/* Contact */
.contact{
	height: auto;
	padding-top: 42px;
	padding-bottom: 100px;
	background-color: #222222;
	color: white;
	.container{
		padding-left: + 120px;
		padding-right: + 120px;
		@media(max-width: $phone){
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.heading{
		@media(max-width: $phone){
			text-align: center;
		}
		h1{
			font-family: $title-font;
			letter-spacing: 2px;
			font-size: 50px;
		}
		h3{
			font-family: $body-font;
			letter-spacing: 1.5px;
		}
	}
	.contact-info{
		margin-top: 50px;
		.address{
			h3{
				font-size: 50px;
				font-family: $title-font;
				letter-spacing: 2px;
				margin-bottom: 20px;
			}
			p{
				font-size: 20px;
				margin-left: 30px;
				font-family: $body-font;
				letter-spacing: 1.2px;
			}
			.icons a i{
			    font-size: 30px;
			    letter-spacing: 10px;
			    position: relative;
			    left: 28px;
			    color: white;
			    &:hover{
			    	color: $primary-color;
			    }
			}
		}
		.form{
			margin-top: 23px;
			.col-md-6{
				@media(max-width: $phone){
					padding-top: 10px;
				}
			}
			button{
				padding-left: 40px;
				padding-right: 40px;
				letter-spacing: 1.75px;
			}
		}
	}
}
/* End of Contact */

/* Footer */
.footer{
	background-color:   rgb(18, 18, 18);
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	.content{
		font-family: $body-font;
		letter-spacing: 1.25px;
		.text-left{
			position: relative;
			top: 5px;
		}
	}
	#right{
		color: white;
		text-decoration: none;
		&:hover{
			color: $primary-color;
		}
	}
	#angle-up{
		font-size: 25px;
		position: relative;
		top: 2px;
	}
}
/* End of Footer */


/* Back to home */
.backtohome{
	position: relative;
	top: 50px;
		a{
			color: black;
			text-decoration: none;
			font-family: $title-font;
			font-size: 40px;
			&:hover{
				color: $primary-color;
			}
		}
		i{
			font-size: 50px;
			position: relative;
			top: 10px;
		}
}


